<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Buruli UlcerDatabase">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/nicepage.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script class="u-script" type="text/javascript" src="/javascripts/nicepage.js"></script>
    <meta name="generator" content="Nicepage 3.22.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="/" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-palette-4-light-3 u-sticky u-sticky-96bd u-header" id="sec-b654"><div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <a href="/" data-page-id="550948" class="u-image u-logo u-image-1" data-image-width="300" data-image-height="100" title="Home">
          <img src="/images/logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <%- include('topNav') %>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <%- include('sideNav') %>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        
        <%- include('anyGroupSearch') %>

      </div></header>
    <section class="u-clearfix u-palette-4-light-3 u-section-1" id="sec-84f5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1" spellcheck="false">Buruli Ulcer<br>Database
        </h1>
        <p class="u-text u-text-default u-text-2" spellcheck="false">Explore <span style="font-weight: 700;">Medical Information</span> on&nbsp;<br>
          <span style="font-weight: 700;">Mycobacterium ulcerans</span>
        </p>
        <img class="u-expanded-width-xs u-image u-image-default u-image-1" src="/images/capsul1.png" alt="" data-image-width="750" data-image-height="450">
        <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
          <form action="/results" method="get" onsubmit="return checkValues(this);" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-364d" class="u-form-control-hidden u-label u-label-1"></label>
              <input type="text" name="search_val" placeholder="Search Specified Group..." id="name-364d" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-9 u-white u-input-1" required>

              <div class="grpBtns"><input type="radio" name="group" value="drug_target" id="" checked>Targets</div>
              <div class="grpBtns"><input type="radio" name="group" value="ethnopharmacological" id="">Plants</div>
              <div class="grpBtns"><input type="radio" name="group" value="genome" id="" >Genome</div>
              <div class="grpBtns"><input type="radio" name="group" value="test_compounds" id="" >Compounds</div>
              <div class="grpBtns"><input type="radio" name="group" value="existing_drugs" id="" >Drugs</div>
            </div>

            <div class="u-align-right u-form-group u-form-submit">
              <a href="#" class="u-btn u-button-style u-btn-2 u-radius-13"><span class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 56.966 56.966" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
	s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
	c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
	s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg><img></span>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          </form>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-4-light-3 u-section-2" id="sec-5328">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <h2 id="browse" class="u-text u-text-default u-text-1" spellcheck="false">BROWSE</h2>
        <p class="u-align-center u-text u-text-default u-text-2" spellcheck="false">Data available for your search include, <span style="font-weight: 700;">Drug Target, Tested Compounds, Existing Drugs, Ethnopharmacological Plants</span> and <span style="font-weight: 700;">Genome</span> of Mycobacterium Ulcerans
        </p>
        <!--div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-layout-horizontal u-list u-list-1"-->
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <a href="/browse/drug_target" style="color: black;"><div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="/images/drugTarget_150.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-3">DRUG TARGET</h3>
                <p class="u-align-center u-text u-text-4" spellcheck="false">These are proteins that are absent in the human host yet are required for survival and also essential components in the physiochemical and metabolic pathways for M. ulcerans.</p>
              </div></a>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <a href="/browse/genome" style="color: black;"><div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-rectangle u-icon-2"><img src="/images/genome_150.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-5">GENOME</h3>
                <p class="u-align-center u-text u-text-6" spellcheck="false">This comprises of the complete set of genes present in Mycobacterium ulcerans.</p>
              </div></a>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <a href="/browse/test_compounds" style="color: black;"><div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-rectangle u-icon-3"><img src="/images/testedCompounds_150.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-7">TESTED COMPOUNDS</h3>
                <p class="u-align-center u-text u-text-8" spellcheck="false">These are chemical compounds that have been screened or tested in vitro, in silico or in vivo, with some proving to be therapeutically efficacious in their applications.</p>
              </div></a>
            </div>
            <div class="u-container-style u-list-item u-repeater-item" id="stayMiddle1">
              <a href="/browse/existing_drugs" style="color: black;"><div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-rectangle u-icon-5"><img src="/images/drugsPlants_150.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-11"><span style="padding-left: 5rem; padding-right: 5rem;">EXISTING&nbsp;DRUGS</span></h3>
                <p class="u-align-center u-text u-text-12" spellcheck="false">These are available drugs employed for the treatment of Buruli ulcer.</p>
              </div></a>
            </div>
            <div class="u-container-style u-list-item u-repeater-item" id="stayMiddle2">
              <a href="/browse/ethnopharmacological" style="color: black;"><div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-rectangle u-icon-5"><img src="/images/plant_150.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-11">ETHNOPHARMACOLOGICAL&nbsp; PLANTS</h3>
                <p class="u-align-center u-text u-text-12" spellcheck="false">These are medicinal plants and plants extract, traditionally used for the treatment of Buruli ulcer.</p>
              </div></a>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1 u-hidden" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2 u-hidden" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        <!--/div-->
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-4-light-3 u-section-3" id="sec-890f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 id="aboutus" class="u-text u-text-default u-text-1">About Us</h2>
            <p class="u-text u-text-2" spellcheck="false"> Under the auspice of <span style="font-weight: 700;">Dr.
Samuel Kojo Kwofie</span>, a final year team of Biomedical Engineering
students at the <span style="font-weight: 700;">University of Ghana</span>&nbsp;with concurrent
engineering techniques developed this <span style="font-weight: 700;">Buruli ulcer database</span>&nbsp;to
accelerate the development of novel drug(s) for the treatment of Buruli ulcers.&nbsp;
            </p>
            <img class="u-image u-image-default u-image-1" src="/images/about_us_image.jpg" alt="" data-image-width="300" data-image-height="200">
            <p class="u-text u-text-3" spellcheck="false"> Please contact <b>BUDb</b> by
accessing our <b>Gmail account</b> to add
to our database other vital information that will help accelerate the
development of novel drug(s) for the treatment of <b>Buruli ulcer</b>. 
            </p>
            <a href="/contactUs" class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-15 u-btn-1">Contact Us</a>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9dbd"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" spellcheck="false"> Please contact <b>BUDb</b>&nbsp;through <a href="mailto:dtanyimadu@gmail.com?subject=Hello" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">email</a>&nbsp;to add to our database
other vital information that will help accelerate the development of novel
drug(s) for the treatment of <b>Buruli
ulcer</b>.
        </p>
      </div></footer>
    <script src="/javascripts/indexMain.js"></script>
  </body>
</html>