<div class="u-custom-menu u-nav-container">
    <ul class="u-nav u-unstyled u-nav-1">
        <div style="float: left;"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 10px;">Home</a></li></div>
        <div class="dropdown">
            <li class="u-nav-item dropbtn"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/#browse" style="padding: 10px 10px;">Browse</a></li>
            <div class="dropdown-content">
                <a href="/browse/drug_target">Drug Target</a>
                <a href="/browse/genome">Genome</a>
                <a href="/browse/test_compounds">Tested Compunds</a>
                <a href="/browse/existing_drugs">Existing Drugs</a>
                <a href="/browse/ethnopharmacological">Ethnopharmacological Plants</a>
            </div>
        </div>
        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/#aboutus" style="padding: 10px 10px;">Contact</a></li>
        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/tutorials" style="padding: 10px 10px;">Tutorials</a></li>
        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/faqs" style="padding: 10px 10px;">FAQS</a></li>
        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/users" style="padding: 10px 10px;">Admin</a></li>
    </ul>
  </div>