.u-section-1 .u-sheet-1 {
  min-height: 663px;
}

.u-section-1 .u-text-1 {
  margin: 101px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px auto 0 60px;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 342px;
  object-position: 50% 100%;
  margin: -284px 47px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 127px;
  width: 570px;
  margin: -32px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -230px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 22px;
    margin-right: 37px;
  }

  .u-section-1 .u-btn-2 {
    margin: -185px -10px 60px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 346px;
    height: 279px;
    margin-top: -279px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin: 60px 0 52px 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 155px;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -406px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    height: 274px;
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -401px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 34px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  min-height: 434px;
  grid-gap: 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-icon-1 {
  height: 98px;
  width: 98px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 60px 20px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-2 .u-icon-2 {
  height: 98px;
  width: 98px;
  color: rgb(219, 84, 90) !important;
  margin: 13px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 60px 20px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-icon-3 {
  height: 98px;
  width: 98px;
  color: rgb(219, 84, 90) !important;
  margin: 13px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 60px 20px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-2 .u-icon-4 {
  height: 98px;
  width: 98px;
  color: rgb(219, 84, 90) !important;
  margin: 13px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 60px 20px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-2 .u-icon-5 {
  height: 98px;
  width: 98px;
  color: rgb(219, 84, 90) !important;
  margin: 13px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: 700;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 358px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 617px;
    grid-gap: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 62px;
  }

  .u-section-2 .u-list-1 {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 368px;
    grid-gap: 0px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 1px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 1px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 1px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 1px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 1px;
    margin-left: 28px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-group-1 {
  min-height: 666px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 81px 550px 0 0;
}

.u-section-3 .u-image-1 {
  width: 540px;
  height: 326px;
  margin: -326px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 81px 100px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0 100px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 918px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: 130px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 64px;
    margin-right: 130px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 314px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
  
  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-top: -185px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1010px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 193px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 9px;
  }
}

@media (min-width: 992px) {
  #stayMiddle1{
    margin-left: 35%;
  }

  #stayMiddle2{
    margin-left: 55%;
  }

  .grpBtns{
    float: left;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin: -83px -10px 60px auto;
  }
}